.p-divider {

    &.p-divider-horizontal,
    &.p-divider-vertical {
        &:before {
            border-top: $dividerSize $dividerColor !important;
            border-top-style: solid;
            border-width: $dividerSize !important;
        }
    }
}
