/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $slate-500;
    border-radius: 70px;
    height: 50px;
}

.active-menuitem .layout-submenu-toggler {
    transform: rotate(180deg);
}

/* .active-menuitem .submenu-toggler > svg {
    transform: rotate(180deg);
} */
.rounded {
    border-radius: 4px;
}

.rounded-full {
    border-radius: 9999px;
}
