* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: var(--step-0);
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 10vh;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $neutral-400;
    border-radius: 70px;
    height: 10px;
}

.active-menuitem .layout-submenu-toggler {
    // transform: rotate(180deg);
}

/* .active-menuitem .submenu-toggler > svg {
    transform: rotate(180deg);
} */
.rounded {
    border-radius: 4px;
}

.rounded-full {
    border-radius: 9999px;
}

.logo {
    @apply fill-slate-500 font-bold;
    font-family: 'Fast-Track';

}

.bg-fdn {
    @apply: bg-slate-100
}

.menu-icon>svg {
    @apply text-slate-500 hover:text-slate-600 text-35px transition bg-transparent bg-transparent
}

.menu-icon>svg>path {
    @apply stroke-2
}

.layout-topbar-button:not(.logout-btn) svg path {
    @apply stroke-slate-300 fill-none text-30;
}

.logout-btn svg path {
    @apply stroke-slate-500;
}
