:root[class*='app-dark'] {

  .p-toast-message-error,
  .p-toast-message-info,
  .p-toast-message-success {
    @apply bg-emerald-800/85;
    border: 1px solid var(--p-emerald-400);
    padding-left: 15px;
    color: var(--text-color);

    & .p-toast-summary {
      font-weight: 600;
      font-size: 22px;
    }

    & .p-toast-detail {
      color: var(--text-color);
      font-weight: 400;
      font-size: 18px;
    }

    &.p-toast-message-error {
      @apply bg-red-800/85;
      border: 1px solid var(--p-red-400);
    }

    &.p-toast-message-info {
      @apply bg-sky-800/85;
      border: 1px solid var(--p-sky-400);
    }
  }
}
