.fixed-center-vertical {
    &>svg {
        width: 60px;
        height: 60px;
        rotate: -45deg;

        &>g {
            fill: var(--p-surface-contrast-600);
            stroke: var(--p-surface-contrast-400);
            stroke-width: 4;
        }

        transition: all 0.3s ease;

        &:hover {
            rotate: 30deg;
            scale: 1.2;
        }
    }

    opacity: .7;
    position: fixed;
    top: 50%;
    right: -25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* @apply bg-slate-800; */
    backdrop-filter: blur(1px);
    border-radius: 50%;
    z-index: 1015;
    /* Ajusta según necesidad */
    transition: all 0.3s ease;

    &:hover {
        right: 0;
        opacity: 1;
        border-radius: 10%;
    }
}

.entity-wrap {
    font-weight: var(--font-weight-semibold);
    display: flex;
    gap: var(--space-xs);
    cursor: pointer;
    margin-bottom: var(--space-m);
    margin-left: var(--space-2xs);
    align-items: center;
    justify-content: space-between;

    &.active {
        /* @apply text-primary; */
    }

    &:hover {
        /* @apply text-primary; */
    }

}

.entity-list {
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease;
    display: grid;

    &.open {
        grid-template-rows: 1fr !important;
    }
}
