:root[class*='app-dark'] {
	.p-datatable {
		& .p-datatable-column-header-content {
			/* display: grid; */

			& > .p-checkbox {
				margin: auto;
				/* margin-bottom: 15px; */
			}
		}

		& .p-datatable-thead > tr {
			& > th {
				/* @apply bg-slate-600/90; */
			}
		}
	}

	td.action-cell {
		/* @apply bg-slate-600/90; */

		border-top: 0.5px solid var(--p-surface-contrast-400);
		border-left: 1px solid var(--p-surface-contrast-400);
		border-right: 1px solid var(--p-surface-contrast-200);
	}

	.collection-action-wrapper {
		& > span {
			& .action {
				background-color: #414f63;

				&.edit,
				&.delete {
					color: var(--p-surface-contrast-800);
					font-size: 20px !important;
				}
			}
		}
	}
}
