@media(min-width:431px) {}

@media (max-width: 640px) {}

@media (max-width: 840px) {

  /* .p-scrolltop {
    bottom: 80px;
  } */
}

@media (max-width: 1024px) {
  .form-flex {
    gap: 15px;
  }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}
