.fdn-input-short {
  max-width: 130px !important
}

.form-wrapper {
  max-width: 25em;
  width: 100%;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  height: fit-content;
  margin: 10px;
  float: left;
  /* margin-left: auto; */
  /* margin-bottom: auto; */
}
