.fdn-input-short {
  max-width: 130px !important
}


.form-columns-2 {
  @apply grid md:grid-cols-2 gap-4;
}

.form-columns-3 {
  @apply grid md:grid-cols-3 gap-4;
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

form.medium {
  min-width: 1024px;
}

.form-wrapper {
  width: fit-content;
  margin: auto;

  & form {
    width: 100%;

    &#UserForm {
      max-width: 900px;
      margin: auto
    }
  }

  /*   
      &>.p-fieldset-legend>button>.p-fieldset-legend-label {
        font-size: 22px;
        padding: 3px 10px;
        font-weight: 500;
      } */

  /* max-width: 25em; */
  /* width: fit-content; */
  /* padding: 1rem 1.5rem 1.5rem 1.5rem; */
  /* height: fit-content; */

  /* margin: 10px; */
  /* float: left; */
  /* margin-left: auto; */
  /* margin-bottom: auto; */
}
