* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 16px;
}

:root {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
    /* display: none; */
    background-color: var(--p-surface-0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--p-slate-400);
    height: 5px;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
    /* background-color: var(--p-slate-50); */
    color: var(--text-color);
    font-size: var(--step-0);
    line-height: normal;
    /* font-variation-settings: "slnt" 0, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712; */
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

    &>div {
        height: 100%;

        &>main {
            height: 100%;

            &>.layout-wrapper {
                height: 100%;

                &>.layout-content {
                    height: 100%;
                    position: relative;
                    /* padding: 1rem; */
                    margin-top: calc(var(--topbar));
                    z-index: 1;

                    &>.content {
                        background-color: var(--p-surface-contrast-0);
                        width: 100%;
                        max-width: 100%;
                        position: relative;
                        /* padding: var(--step-8); */
                        /* @apply u-p-l; */
                        border-radius: 4px;
                        /* bg-surface-contrast-0 u-p-l md: u-px-xl rounded-sm w-full relative max-w-full */
                        /* box-shadow: 0px 0px 12px var(--p-surface-contrast-300); */
                        /* border: 1px solid var(--p-surface-contrast-300) */
                    }
                }
            }
        }
    }

}

a {
    text-decoration: none;
}

.contain-strick {
    contain: strict;
}

/* .contain-size {
    contain: size;
}

.contain-content {
    contain: content;
}

.contain-layout {
    contain: layout;
} */


.rounded-full {
    border-radius: 9999px;
}


/* .layout-enter-active, */
/* .layout-leave-active, */
.page-enter-active,
.page-leave-active {
    transition: all 0.5s;
}

.page-enter-from,
.page-leave-to {
    transition: all 0.5s;
    opacity: 0;
    filter: blur(5px);
    /* filter: grayscale(1); */
}

/* .layout-enter-from,
.layout-leave-to {
    transition: all 0.3s;
    filter: grayscale(1);
} */

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}



/* .layout-enter-active,
.layout-leave-active,
.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}



.layout-enter-from,
.layout-leave-to,
.page-enter-from,
.page-leave-to {
    opacity: 0;
} */

.load-opacity {
    transition: opacity .2s;
    opacity: .3;
}

.edit-head {
    container: editHead / inline-size;
    ;
}

@container (width < 560px) {
    /* @tailwind base; */

    /* @tailwind components; */
    /* @tailwind utilities; */
}
