.wrap-sidebar {



  &.hover.mini {
    height: 100%;
    min-width: var(--sidebar-mini-hover-width);
    position: absolute;
    top: 70px;
  }

  &>.layout-sidebar {
    contain: content;
    /* container: mini / inline-size; */
    transition-property: width, translate;
    transition-duration: 0.3s;
    background-color: transparent;
    /* background-color: var(--background); */
    width: var(--sidebar-width);
    translate: 0;
    z-index: 900;
    position: fixed;
    top: calc(var(--topbar) + 4rem);
    height: 100%;
    user-select: none;
    font-weight: 460;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 2rem 0px;
    align-items: center;

    &::-webkit-scrollbar,
    &.mini>nav.menu-large,
    &.normal>nav.menu-small {
      display: none;
    }

    /* &.normal.close,
    &.normal { */
    background-color: var(--background);

    &.hovermode {
      top: var(--topbar);
      transition: width 0.3s;
      padding: 2rem 0.5rem;
      border-right: 1px solid var(--p-surface-contrast-200);
      top: 70px;
      z-index: 999;
      background-color: var(--background);
    }

    &>nav:not(.menu-small) {
      padding: 0px calc(1rem - 9px + 0.2rem);

      & .layout-menu>li {
        transition: all 0.3s;
        margin-bottom: 15px;

        &>div {
          & ol {
            margin: 0 0 0 1rem;

            &>li ol {
              margin: 0 0 0 1.3rem;
            }

            & li {

              &>div.menu-root,
              &>a {
                border-left: 1px solid var(--p-surface-contrast-300);
                display: flex;
                align-items: center;
                padding: 0.5rem;
                padding-right: 0px;

                &:hover {
                  border-left: 1px solid var(--p-surface-400);

                  &>.menu-icon {
                    border: 1px solid var(--p-surface-400);
                  }
                }
              }
            }

            & .menu-toggle-icon {
              margin-left: auto;
            }
          }
        }

        &>div {
          & .menu-toggle-icon {
            transition: transform 0.3s;
            transform: rotate(0deg);
            margin-left: auto;
          }
        }

        & div.menu-root,
        & a {
          display: flex;
          width: 100%;
          align-items: center;
          padding: 0.5rem 1px;
          padding-top: 0px;
          cursor: pointer;

          &>span {
            max-width: 100%;
            margin-right: 15px;
          }

          & .menu-icon {
            margin-right: 0.5rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            border-radius: 6px;

            & .fdn-icon {
              width: 20px;
              height: 20px;
              color: var(--text-color);

              /* stroke-width: 2px; */
              &:is(svg) {

                &>*>*,
                &>* {
                  stroke-width: 3px;
                }
              }
            }
          }

          &:has(+ div.open)>.fdn-icon.menu-toggle-icon {
            transition: transform 0.3s;
            transform: rotate(180deg);
          }
        }
      }
    }

    /* } */

    /* &.mini.close, */
    &.mini {
      /* transition: width 0.5s; */
      width: var(--sidebar-mini-width);

      &.hover:not(.normal) {

        /* transition: width 0.3s; */
        width: var(--sidebar-mini-hover-width);
        /* margin-left: .5rem; */

        &>.menu-small .fdn-icon {
          width: 25px;
          height: 25px;
          color: var(--p-surface-contrast-700);

          &>*>* {
            stroke-width: 3px;
            color: var(--p-surface-contrast-500);
          }
        }
      }

      margin-top: 4rem;

      &>.menu-small {
        margin: 0px auto;

        & .layout-menu>li {
          &>div {
            & .menu-toggle-icon {
              transition: transform 0.3s;
              transform: rotate(0deg);
              margin: auto;
            }
          }

          &>div.open {
            margin-top: 15px;
          }

          &>div {
            &:has(+ div.open) {
              &>span.menu-toggle-icon {
                transition: transform 0.3s;
                transform: rotate(180deg);
              }
            }
          }
        }

        & a {
          width: 100%;
          display: flex;
          justify-content: center;
          min-width: 100%;
        }

        & .fdn-icon {
          width: 28px;
          height: 28px;
          color: var(--p-icon-color);

          &:is(svg) {

            &>*>*,
            &>* {
              stroke-width: 2px;
            }
          }

          &.menu-toggle-icon {
            color: var(--p-surface-contrast-400);
            width: 24px;
            height: 24px;
          }
        }

        & .truncate {
          display: none;
          font-size: 14px;
        }

        & ol li:not(:first-child) {
          margin-top: 20px;

          &:last-child {
            padding-bottom: 20px;
            border-bottom: 1px solid var(--p-slate-200);
          }
        }
      }
    }

    &.close {
      width: var(--sidebar-mini-hover-width);
      transition: translate 0.3s;
      translate: calc(var(--sidebar-width) * -1);

    }
  }

  &>.sidebar-control {
    contain: content;
    position: fixed;
    transition: translate 0.3s;
    background-color: transparent;
    /* background-color: var(--background); */
    z-index: 999;
    top: calc(var(--topbar) + 2rem);
    width: var(--sidebar-width);
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;

    &>div {
      display: flex;
      justify-content: space-between;
      max-width: 150px;
      animation: c2 0.3s linear forwards;
      gap: 9px;

      &>div {
        display: flex;
        cursor: pointer;
        align-items: center;
        height: 30px;
        position: relative;
        border-radius: .25rem;
        transition: opacity .5s;

        &:hover {
          opacity: 1;
        }

        &>span {
          width: 10px;
          position: absolute;
          height: 100%;
          background-color: var(--p-surface-contrast-600);
        }

        &>div {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          padding-left: 15px;
        }

        &:nth-child(1) {
          width: 35px;
        }

        &:nth-child(2) {
          width: 40px;

          &>span {
            width: 15px;
          }

          &>div {
            padding-left: 20px;
          }
        }

        &:nth-child(3) {
          width: 45px;

          &>span {
            width: 20px;
          }

          &>div {
            padding-left: 25px;
          }
        }
      }
    }

    &.mini {
      width: var(--sidebar-mini-width);

      &>div {
        display: grid;
        gap: 5px;
        animation: c2m 0.3s linear forwards;
      }
    }

    &.hovermode.normal,
    &.hover {
      display: grid !important;
      width: calc(var(--sidebar-mini-hover-width) - 3px) !important;
      margin-left: 2px !important;

      &>div {
        display: grid;
        gap: 5px;
        animation: c2m 0.3s linear forwards;
      }
    }

    &.close {
      width: var(--sidebar-mini-hover-width);
      translate: calc(-1 * (var(--sidebar-width)));
    }
  }

}

.layout-content {
  /* contain: content; */
  transition: margin-left 0.3s;
  display: flex;
  flex-wrap: wrap;

  &.normal:not(.hovermode) {
    margin-left: var(--sidebar-width);
  }

  &.mini {
    margin-left: var(--sidebar-mini-width);
  }

  &.hover,
  &.hovermode {
    margin-left: calc(var(--sidebar-mini-hover-width));
    padding-left: 0px;
    /* pad */
  }

  &.close.normal,
  &.close {
    transition: margin-left 0.3s;
    margin-left: 0;
  }
}

@keyframes c2 {
  from {
    translate: -50px;
  }

  to {
    translate: 0px;
  }
}

@keyframes c2m {
  from {
    translate: 50px 0px;
  }

  /* 90% {} */

  to {
    translate: 0px 0px;
  }
}

.layout-wrapper.mobil {

  &>.layout-mask.animate-fadein.active {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--p-surface-contrast-800);
    top: 0;
    z-index: 2;
    opacity: .3;
  }

  .wrap-sidebar {
    z-index: 11;
    height: fit-content !important;

    &>.layout-sidebar {
      top: auto !important;
      bottom: 70px;
      padding-top: 3rem;
      /* transition: translate 0.3s; */
      /* translate: calc(var(--sidebar-width) * -1); */
      border: 1px solid var(--p-surface-border);
      border-top: none;
      height: fit-content !important;
      /* border-top-right-radius: 10px; */
      border-bottom-right-radius: 4px;
      /* box-shadow: 0px 0px 10px var(--p-surface-contrast-700); */

      &.close>nav.menu-small {
        display: none !important;
      }
    }


  }

  .layout-topbar {
    bottom: 0px !important;
    top: auto;
    position: fixed;
    @apply bg-slate-100/80 border-b border-slate-400;

  }

  .sidebar-control {
    display: none !important;
  }

  .layout-content {
    margin-top: 0px;
    padding-top: 1rem;

    &.normal:not(.hovermode) {
      margin-left: 0px;
    }
  }
}
