/* Utils */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}


.p-toast {

    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

.action {
    transition: all .1s;
    cursor: pointer;
    font-size: var(--step-1) !important;

    &>*,
    &>g>path {
        stroke-width: 2px;
    }

    /* text-emerald-500 cursor-pointer u-text-1 ! action [&>*]:stroke-3px */
    &.edit,
    &.delete {
        color: var(--p-surface-contrast-700);

        &:hover {
            color: var(--p-surface-contrast-800);
        }
    }

    /* text-red-300 hover:text-red [&>g>path]:stroke-3px cursor-pointer u-text-1 ! action */
    &:hover {
        scale: 1.2;
        /* background-color: var(--p-primary-contrast-200); */
        /* border-radius: 999px; */
        /* color: var(--p-primary-contrast-800); */
        /* padding: 4px; */
    }
}
