.layout-topbar {
    contain: layout;
    transition: all .3s;
    height: var(--topbar);
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    min-width: 100%;

    &>.layout-topbar-inner {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;

        &>.layout-topbar-actions {
            display: flex;
            gap: 2rem;
            align-items: center;
            position: fixed;
            right: calc(var(--sidebar-small-width) + 2rem);
        }


    }

    &>.topbar-bg {
        /* transition: background-color .3s; */
    }

}


.layout-topbar.layout-topbar-sticky {
    backdrop-filter: blur(8px);
    /* box-shadow: 0px 2px 5px var(--p-surface-contrast-400) !important; */
    box-shadow: var(--shadow-small) !important;
    /* border-bottom: 2px solid var(--p-surface-contrast-300); */

    &>.topbar-bg {
        background-color: --alpha(var(--p-surface-contrast-100)/50%);
    }

    .p-breadcrumb-item .surface-contrast-600,
    & button>i {
        color: var(--p-surface-contrast-800) !important;
    }



}
