.layout-topbar {
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    min-width: 100%;
    padding: 0 1rem;
    transition: background-color .3s;
    /* background-color: var(--background); */

    &>.layout-topbar-inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        &>.layout-topbar-logo-container {
            position: absolute;
            left: 50%;
            top: 0px;
            margin-left: -40.5px;

            .logo-fdn {
                transition:
                    background-color 2s,
                    box-shadow 2s,
                    transform 2s;
                margin-top: 10px;
                width: 50px;
                height: 50px;
                justify-content: center;
                align-items: center;
                letter-spacing: 1px;
                font-family: 'Corporative Alt';
                color: var(--p-zinc-400);
                border-radius: 999px;
                background-color: #ffffff;
                box-shadow: 0px 0px 10px var(--p-zinc-500);
            }
        }

        .layout-topbar-action {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;

            &:hover {
                background-color: var(--p-surface-hover);
            }

            i {
                font-size: 1.25rem;
            }

            span {
                font-size: 1rem;
                display: none;
            }

            &.layout-topbar-action-highlight {
                background-color: var(--p-primary-contrast-600);

                &>i.pi {
                    color: var(--p-primary-contrast-color);
                }
            }
        }

        .layout-topbar-actions {
            margin-left: auto;
            display: flex;
            gap: 1rem;
        }

        .layout-topbar-menu-content {
            display: flex;
            gap: 1rem;
        }

        .layout-config-menu {
            display: flex;
            gap: 1rem;
        }
    }

    &>.topbar-bg {
        transition: background-color .3s;
        /* background-color: transparent; */
        opacity: 0.5;
    }
}

.outline-offset-1 {
    outline-offset: 1px;
}

.outline-none {
    outline: 2px solid;
    outline-offset: 2px;
}

.outline-primary {
    outline-color: var(--p-primary-color) !important;
}

.layout-topbar.layout-topbar-sticky {
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 5px var(--p-surface-contrast-400) !important;

    &>.topbar-bg {
        background-color: var(--background);
        /* background-color: var(--p-surface-900); */
    }

    .p-breadcrumb-item .surface-contrast-600,
    & button>i {
        color: var(--p-surface-contrast-800) !important;
    }

    & .logo-fdn {
        /* transform: rotate3d(0, 1, 0, 360deg); */
        background-color: var(--p-primary-600) !important;
        box-shadow: 0px 0px 10px 1px var(--p-primary-100) !important;
    }

    & .logo-fdn {
        color: var(--p-primary-100) !important;
    }
}

.app-dark .layout-topbar.layout-topbar-sticky {
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 5px var(--p-surface-contrast-500) !important;

    &>.topbar-bg {
        background-color: var(--background);
        /* background-color: var(--p-surface-800); */
    }

    & button>i {
        color: var(--p-surface-contrast-800);
    }

    & .logo-fdn {
        /* transform: rotate3d(0, 1, 0, 360deg); */
        background-color: var(--p-primary-contrast-700) !important;
        box-shadow: 0px 0px 10px 1px var(--p-primary-contrast-50) !important;
    }

    & .logo-fdn {
        color: var(--p-primary-contrast-300) !important;
    }
}
