.layout-topbar {
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 997;
    width: 100%;
    min-width: 100%;
    padding: 0 1rem;
    transition: background-color 1.5s;
    background-color: transparent;

    & > .layout-topbar-inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        & > .layout-topbar-logo-container {
            .logo-wrap {
                transition:
                    background-color 2s,
                    box-shadow 1.5s,
                    transform 1.5s;
                transform: rotate3d(1, 1, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 999px;
                margin: 5px 10px;
                width: var(--step-6);
                height: var(--step-6);
                position: absolute;
                left: 1rem;
                top: 0px;
                background-color: var(--p-surface-contrast-100);
                box-shadow: 0px 0px 10px 1px var(--p-surface-contrast-800);
                opacity: 0.7;
            }

            .logo-fdn {
                transition: color 1.5s;
                letter-spacing: 1px;
                font-family: 'Corporative Alt';
                color: var(--p-surface-contrast-500);
                opacity: 0.8;
            }
        }

        .layout-topbar-action {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;

            &:hover {
                background-color: var(--p-surface-hover);
            }

            i {
                font-size: 1.25rem;
            }

            span {
                font-size: 1rem;
                display: none;
            }

            &.layout-topbar-action-highlight {
                background-color: var(--p-primary-contrast-500);

                & > i.pi {
                    color: var(--p-primary-contrast-color);
                }
            }
        }

        .layout-topbar-actions {
            margin-left: auto;
            display: flex;
            gap: 1rem;
        }

        .layout-topbar-menu-content {
            display: flex;
            gap: 1rem;
        }

        .layout-config-menu {
            display: flex;
            gap: 1rem;
        }
    }

    & > .topbar-bg {
        transition: background-color 1.5s;
        background-color: transparent;
        opacity: 0.7;
    }
}

.outline-offset-1 {
    outline-offset: 1px;
}

.outline-none {
    outline: 2px solid;
    outline-offset: 2px;
}

.outline-primary {
    outline-color: var(--p-primary-color) !important;
}

.layout-topbar.layout-topbar-sticky {
    & > .topbar-bg {
        background-color: var(--p-surface-900);
    }

    & button > i {
        color: var(--p-surface-0);
    }

    & .logo-wrap {
        /* transform: rotate3d(0, 1, 0, 360deg); */
        background-color: var(--p-surface-700) !important;
        box-shadow: 0px 0px 10px 1px var(--p-surface-0) !important;
    }

    & .logo-fdn {
        color: var(--p-surface-0) !important;
    }
}

.app-dark .layout-topbar.layout-topbar-sticky {
    backdrop-filter: blur(1px);

    & > .topbar-bg {
        background-color: var(--p-surface-contrast-900);
    }

    & button > i {
        color: var(--p-surface-contrast-800);
    }

    & .logo-wrap {
        transform: rotate3d(0, 1, 0, 360deg);
        background-color: var(--p-surface-contrast-700) !important;
        box-shadow: 0px 0px 10px 1px var(--p-surface-contrast-50) !important;
    }

    & .logo-fdn {
        color: var(--p-surface-contrast-300) !important;
    }
}
