/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1240,16,1.25,10,10,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1240,16,1.25,10,10,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--10: clamp(0.1074rem, 0.1531rem + -0.059vw, 0.1413rem);
  --step--9: clamp(0.1342rem, 0.1819rem + -0.0615vw, 0.1696rem);
  --step--8: clamp(0.1678rem, 0.2159rem + -0.0621vw, 0.2035rem);
  --step--7: clamp(0.2097rem, 0.2562rem + -0.06vw, 0.2442rem);
  --step--6: clamp(0.2621rem, 0.3038rem + -0.0537vw, 0.293rem);
  --step--5: clamp(0.3277rem, 0.36rem + -0.0417vw, 0.3516rem);
  --step--4: clamp(0.4096rem, 0.4263rem + -0.0215vw, 0.422rem);
  --step--3: clamp(0.5064rem, 0.5044rem + 0.0098vw, 0.512rem);
  --step--2: clamp(0.6076rem, 0.5964rem + 0.0563vw, 0.64rem);
  --step--1: clamp(0.7292rem, 0.7045rem + 0.1232vw, 0.8rem);
  --step-0: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
  --step-1: clamp(1.05rem, 0.9804rem + 0.3478vw, 1.25rem);
  --step-2: clamp(1.26rem, 1.1548rem + 0.5261vw, 1.5625rem);
  --step-3: clamp(1.512rem, 1.3586rem + 0.7672vw, 1.9531rem);
  --step-4: clamp(1.8144rem, 1.5963rem + 1.0904vw, 2.4414rem);
  --step-5: clamp(2.1773rem, 1.8731rem + 1.5208vw, 3.0518rem);
  --step-6: clamp(2.6127rem, 2.1947rem + 2.0904vw, 3.8147rem);
  --step-7: clamp(3.1353rem, 2.5673rem + 2.8402vw, 4.7684rem);
  --step-8: clamp(3.7623rem, 2.9978rem + 3.8228vw, 5.9605rem);
  --step-9: clamp(4.5148rem, 3.4937rem + 5.1057vw, 7.4506rem);
  --step-10: clamp(5.4178rem, 4.0628rem + 6.7747vw, 9.3132rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,14,1.2,1240,16,1.25,10,10,&s=0.75|0.5|0.25|0.2|0.1,1.5|2|3|4|6|7|6,s-l&g=s,l,xl,12 */
/* @link https://utopia.fyi/space/calculator?c=320,14,1.2,1240,16,1.25,10,10,1860&s=0.75|0.5|0.25|0.25|0.25,1.5|2|3|4|6|6|6,s-l&g=s,l,xl,12 */

:root {
  --space-5xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-4xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-2xs: clamp(0.4375rem, 0.4158rem + 0.1087vw, 0.5rem);
  --space-xs: clamp(0.6875rem, 0.6658rem + 0.1087vw, 0.75rem);
  --space-s: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
  --space-m: clamp(1.3125rem, 1.2473rem + 0.3261vw, 1.5rem);
  --space-l: clamp(1.75rem, 1.663rem + 0.4348vw, 2rem);
  --space-xl: clamp(2.625rem, 2.4946rem + 0.6522vw, 3rem);
  --space-2xl: clamp(3.5rem, 3.3261rem + 0.8696vw, 4rem);
  --space-3xl: clamp(5.25rem, 4.9891rem + 1.3043vw, 6rem);
  --space-4xl: clamp(5.25rem, 4.9891rem + 1.3043vw, 6rem);
  --space-5xl: clamp(5.25rem, 4.9891rem + 1.3043vw, 6rem);

  /* One-up pairs */
  --space-5xs-4xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-4xs-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-3xs-2xs: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem);
  --space-2xs-xs: clamp(0.4375rem, 0.3288rem + 0.5435vw, 0.75rem);
  --space-xs-s: clamp(0.6875rem, 0.5788rem + 0.5435vw, 1rem);
  --space-s-m: clamp(0.875rem, 0.6576rem + 1.087vw, 1.5rem);
  --space-m-l: clamp(1.3125rem, 1.0734rem + 1.1957vw, 2rem);
  --space-l-xl: clamp(1.75rem, 1.3152rem + 2.1739vw, 3rem);
  --space-xl-2xl: clamp(2.625rem, 2.1467rem + 2.3913vw, 4rem);
  --space-2xl-3xl: clamp(3.5rem, 2.6304rem + 4.3478vw, 6rem);
  --space-3xl-4xl: clamp(5.25rem, 4.9891rem + 1.3043vw, 6rem);
  --space-4xl-5xl: clamp(5.25rem, 4.9891rem + 1.3043vw, 6rem);

  /* Custom pairs */
  --space-s-l: clamp(0.875rem, 0.4837rem + 1.9565vw, 2rem);
}

/* @link https://utopia.fyi/grid/calculator?c=320,14,1.067,1240,16,1.067,10,10,&s=0.95|0.85|0.75|0.65|0.55|0.45|0.35|0.25|0.15|0.1,1.5|2|3|4|6|6.5|7|7.5|8|8.5|9|10,s-l&g=s,l,xl,12 */


:root {
  --grid-max-width: 62.00rem;
  --grid-gutter: var(--space-s-l, clamp(0.875rem, 0.3393rem + 2.6786vw, 2rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}
