.layout-sidebar {
    transition: transform .2s, left .2s;
    position: fixed;
    /* width: 250px; */
    /* height: calc(100vh - 160px); */
    z-index: 999;
    user-select: none;
    top: 110px;
    /*transition: transform $transitionDuration, left $transitionDuration;
	 font-weight: $fontWeight;
	*/
}

/* Tree section--------------------------------------- */

.layout-static-inactive .layout-sidebar .p-tree-root {
    width: 70px;
}

.layout-static-inactive .layout-sidebar .p-tree-node>.p-tree-node-content p-tree-node-selectable:first {
    background-color: var(--slate-400);
}

.layout-static-inactive .layout-sidebar li.p-tree-node[aria-level="1"] {
    @apply border-b border-slate-300 mb-3 pb-3;
}

.layout-static-inactive .layout-sidebar .p-tree-node>.p-tree-node-content.p-tree-node-selectable {
    display: grid;
    align-items: center;
    justify-content: center;

}

.layout-static-inactive .layout-sidebar .p-tree-node-content.p-tree-node-selectable>*,
.layout-static-inactive .layout-sidebar .p-tree-node-children>.p-tree-node>* {
    width: 70px;
    /* width: fit-content; */
    margin: auto;
    display: grid;
    justify-content: center;
}

.layout-static-inactive .p-tree-node {
    background-color: var(--slate-200);
    @apply rounded;
}

.layout-static-inactive .layout-sidebar .p-tree-node-children {
    padding-left: 0px !important;
    @apply pb-3;
}

.layout-static-inactive .layout-sidebar .p-tree-node-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block !important;
    font-size: 12px;
    text-align: center;
    @apply u-px-6xs;
}

.menu-control {
    @apply flex gap-1 absolute
}

.menu-control>svg {
    @apply stroke-slate-2 text-35px stroke-0 cursor-pointer
}
