@media screen and (min-width: 1920px) {
  .layout-content {
    /* max-width: 1728px; */
    /* margin: 0 auto; */
  }

  .layout-topbar-inner {
    /* max-width: 1728px; */
    /* margin: 0 auto; */
  }



}

@media screen and (max-width: 1024px) {
  .layout-topbar-inner {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .layout-topbar-inner .menu-button {
    display: block;
  }

  .layout-topbar-inner .layout-topbar-logo-container {
    width: auto;
    margin-right: 0;
  }

  /* .layout-sidebar {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1102;
    height: 100%;
    transform: translateX(-100%);
    background-color: var(--mobile-menu-background);
    backdrop-filter: blur(20px);
    width: 300px;
    opacity: 0;

    &+.layout-content-slot {
      margin-left: 0px;
    }
  } */

  /* .layout-sidebar nav {
    padding: 1rem 1rem;
  } */

  /* .layout-content {
    margin-left: 0px;
    border-top-left-radius: 0px;
    padding-top: 2rem;
  } */

  .layout-sidebar.active {
    opacity: 1;
    transform: translateX(0);
  }



  .layout-mask {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .layout-mask.layout-mask-active {
    z-index: 1101;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s;
  }

  .layout-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .blocked-scroll {
    overflow: hidden;
    padding-right: var(--p-scrollbar-width);
  }




}

@media (max-width: 768px) {
  .DocSearch-Container {
    position: fixed !important;
  }
}

@media screen and (max-width: 575px) {
  .layout-topbar-inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .layout-topbar-inner .layout-topbar-logo {
    display: none;
  }

  .layout-topbar-inner .layout-topbar-icon {
    display: inline-flex;
  }

  .layout-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }



}
