.layout-sidebar {
  contain: strict;
  container: mini / inline-size;
  /* background-color: var(--surface-0); */
  background-color: var(--surface-100);
  z-index: 900;
  transition: transform .5s;
  position: fixed;
  top: 102px;
  height: 100%;
  user-select: none;
  width: var(--sidebar-width);
  /* background-color: #fff; */
  padding: 0rem .4rem 0 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transform: translateX(0px);


  &::-webkit-scrollbar {
    display: none;
  }

  &.close {
    transform: translateX(calc(0px - var(--sidebar-width)));
    padding: 0px;
  }

  &.mini {

    top: 102px;
    transform: translateX(calc(var(--sidebar-mini-width) - var(--sidebar-width)));
    /* width: 70px; */
    background-color: white;
    border: 1px solid var(--slate-300);

    &.hover-flag:hover {
      background-color: var(--slate-100);
      border: none;
      transition: transform .5s;
      transform: translate(0);

    }
  }

  &>.menu-small,
  &.mini:not(.hover-flag)>.menu-large {
    display: none;
  }

  &.mini:not(.hover-flag)>.menu-small {
    display: block;
  }

  & .layout-menu {
    &>li {
      &>div {
        & ol {
          & li {

            &>div.menu-root,
            &>a {
              border-left: 1px solid var(--border-color);
              border-left: 1px solid var(--surface-200);
              transition: all 0.3s;
              display: flex;
              align-items: center;
              padding: 0.5rem 0.5rem 0.5rem 1rem;
              /* 
              &::before {
                content: "";
                position: absolute;
                border-bottom: 1px solid var(--slate-300);
                height: 1em;
                margin-top: -1em;
                margin-left: -1rem;
                width: .8em;
              } */

              /* &:hover {
                &::before {
                  border-bottom-color: var(--slate-400);
                }
              } */
            }
          }
        }
      }

      &>div.menu-root {
        &:has(+ div)>i {
          transition: all 0.2s;
          transform: rotate(0deg)
        }

        &:has(+div.open)>i {
          transition: all 0.2s;
          transform: rotate(180deg)
        }
      }

      & div.menu-root,
      & a {
        &>span {
          max-width: 100%
        }

        & .menu-icon {
          margin-right: 0.5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          height: 2rem;
          border-radius: 6px;
        }

        &:hover {
          border-left: 1px solid;
          border-color: var(--surface-400);

          & .menu-icon {
            border: 1px solid;
            border-color: var(--surface-400);
          }
        }
      }
    }

    &>a,
    & div.menu-root {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 0.5rem 1px;
      transition: outline-color 0.2s;
      border: 0 none !important;
      cursor: pointer;
    }

    & li {}
  }
}


.layout-sidebar .layout-menu>li>div.menu-root .menu-toggle-icon,
.layout-sidebar .layout-menu .menu-toggle-icon {
  color: var(--text-secondary-color);
  margin-left: auto;
}

.layout-sidebar .layout-menu li ol {
  margin: 0 0 0 1rem;
  padding: 0.25rem 0;
}


.layout-sidebar .layout-menu>li>div ol li a.router-link-active {
  color: var(--primary-text-color);
  border-left-color: var(--primary-text-color);
}


.layout-sidebar .layout-menu>li>div ol li:has(.menu-child-category):first-child {
  margin-top: 0rem;
}



.menu-sidebar {
  left: -48px;
  border-left: 0px;
  transition: translate 1s;


  &.close {
    transition-property: translate, padding;
    transition-duration: 1s, 1s;
    translate: 40px;
    padding-right: 5px;
  }

  &.close:hover {
    transition-property: translate, padding;
    transition-duration: .2s, .2s;
    translate: 48px;
    padding-right: 10px;
  }
}
