/* */
:root {
  font-family: 'Roboto Flex Variable', sans-serif !important;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-variation-settings: normal;
  --font-family: 'Roboto Flex Variable', sans-serif;
  --font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --text-color: var(--neutral-700);
  --text-color-secondary: #64748b;
  --primary-color: #10b981;
  --primary-color-text: #fff;

  --content-padding: 1.125rem;
  --inline-spacing: 0.5rem;
  --border-radius: 6px;
  --surface-ground: #f8fafc;
  --surface-section: #fff;
  --surface-card: #fff;
  --surface-overlay: #fff;
  --surface-border: #e2e8f0;
  --surface-hover: #f1f5f9;
  --focus-ring: none;
  --maskbg: rgba(0, 0, 0, 0.4);
  --highlight-bg: #ecfdf5;
  --highlight-text-color: #047857;
  color-scheme: light;
  --topbar-sticky-bg: rgba(255, 255, 255, .5);
  --sidebar-width: 220px;
  --sidebar-mini-width: 5rem;
  --sidebar-mini-hover-width: 40px;
  --background: var(--slate-50);
  --topbar: 70px;
  --shadow: 0px 3px 7px var(--slate-500);
}
