.p-toast-message .p-toast-close-button,
.p-toast-message .p-toast-close-button:hover {
  outline-color: transparent !important;
}

.p-toast-message-error,
.p-toast-message-info,
.p-toast-message-success {
  @apply bg-emerald-50/70;
  backdrop-filter: blur(2px);
  border-right: 1px solid var(--p-emerald-400);
  border-top: 1px solid var(--p-emerald-400);
  border-bottom: 1px solid var(--p-emerald-400);
  padding: 5px 15px;
  color: var(--p-emerald-800);

  & .p-toast-summary {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
  }

  & .p-toast-detail {
    color: var(--text-color);
    font-size: 16px;
    /* font-weight: 600; */
  }

  &.p-toast-message-success {
    & .p-toast-detail {
      color: var(--p-emerald-900);
    }
  }

  &.p-toast-message-error {
    @apply bg-red-50/80;
    border: 1px solid var(--p-red-400);
    color: var(--p-red-700);

    & .p-toast-detail {
      color: var(--p-red-800);
    }
  }

  &.p-toast-message-info {
    @apply bg-sky-50/85;
    border: 1px solid var(--p-sky-400);
    color: var(--p-sky-700);
  }
}
