.p-toast-message .p-toast-close-button,
.p-toast-message .p-toast-close-button:hover {
  outline-color: transparent !important;
}

.p-toast-message-error,
.p-toast-message-info,
.p-toast-message-success {
  @apply bg-emerald-50/85;
  /* background-color: color-mix(in srgb, var(--p-emerald-50), transparent 10%); */
  border: 1px solid var(--p-emerald-300);
  padding-left: 15px;
  color: var(--p-emerald-700);

  & .p-toast-summary {
    font-weight: 600;
    font-size: 20px;
  }

  & .p-toast-detail {
    color: var(--text-color);
    font-weight: 400;
    font-size: 18px;
  }

  &.p-toast-message-error {
    @apply bg-red-50/85;
    border: 1px solid var(--p-red-300);
    color: var(--p-red-700);
  }

  &.p-toast-message-info {
    @apply bg-sky-50/85;
    border: 1px solid var(--p-sky-300);
    color: var(--p-sky-700);
  }
}
