$fondo: $slate-100;
$fondoRoot: $slate-200;
$fondoMenu: #fff;
$colorRoot: $slate-600; //'black';
$colorMenu: $slate-700;
$colorIcon: $slate-700;
$border: $slate-400;
$fontWeight: 400;


.layout-sidebar {
    position: fixed;
    width: 250px;
    height: calc(100vh - 160px);
    z-index: 99;
    user-select: none;
    top: 110px;
    transition: transform $transitionDuration, left $transitionDuration;
    font-weight: $fontWeight;
    background-color: $fondo; //$backgroundColor;

    .layout-menu {
        direction: rtl;
        background-color: transparent;
        position: absolute;
        width: 100%;
        height: calc(100vh - 160px);
        overflow: hidden;
        overflow-y: auto;
        margin: 0;
        // margin-top: 2rem;
        padding: 0;
        list-style-type: none;

        li {
            direction: ltr;
        }

        // background-color: white;
        .layout-root-menuitem {
            position: relative;
            color: $colorRoot;
            margin-bottom: 15px;
            // @apply: border-neutral-400 border-b-1;

            >span {
                font-style: oblique 12deg;
            }

            >.layout-menuitem-root-text {
                margin-top: 0px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // font-size: var(--step-3);
                font-weight: 570;
                @apply: hover:bg-slate-300/70 flex items-center gap-2;
                background-color: $fondoRoot;
                color: $colorRoot;

                // padding: 13px 0px;

                span.i-icon>svg {
                    font-size: var(--step-8);
                    color: $colorRoot;
                }

                &>span {
                    letter-spacing: 1px;
                }

                >.layout-submenu-toggler {
                    font-size: 75%;
                    margin-left: auto;
                    transition: transform $transitionDuration;
                }
            }

            >a {
                display: none;
            }

            >.layout-submenu {
                margin: 0;
                list-style-type: none;
                letter-spacing: 1px;
                background-color: $fondoMenu;
                color: $colorMenu;
                width: 95%;
                // @apply border border-zinc-200 border-t-0;

                >li:hover {
                    @apply bg-slate-100/70;
                }

                >li:last-child {
                    >div {
                        display: none;
                    }
                }

                >li {
                    >a {
                        align-items: center;
                        transition: all 0.2s;
                        display: flex;

                        &>div {
                            // font-size: var(--step-2);
                            font-weight: $fontWeight;
                            display: flex;
                            align-items: center;

                            &>span:first-child {
                                margin-right: 10px;

                                &>svg {
                                    color: $colorIcon;
                                    font-size: var(--step-5);
                                }
                            }

                            &:focus {
                                @include focused-inset();
                            }
                        }

                    }
                }

                >li.active-menuitem {

                    &>a>div {
                        width: fit-content;
                        padding: 0.4rem 1rem;
                        border-radius: 4px;
                        background-color: $sky-700
                    }
                }
            }
        }

        .active-menuitem>.layout-menuitem-root-text {
            // @apply rounded-tr-full
            @apply rounded
        }

        .layout-root-menuitem {
            @apply u-mb-s
        }

        // .layout-root-menuitem.active-menuitem {
        //     &>.layout-menuitem-root-text>.i-icon-plus {
        //         display: none;
        //     }

        // }
    }

    .sidebar-btn {
        @apply absolute top-50% -mt-76px z-990 grid u-pl-s gap-6 left-100% -ml-35px;

        button {
            @apply p-5px bg-white/30 border border-slate-300 rounded-full;

            svg {
                @apply text-35px;

                path {
                    @apply stroke-slate-400 stroke-3;
                }
            }

        }
    }
}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

@media (min-width: 992px) {
    .layout-static-inactive {
        .layout-sidebar {
            transform: tranneutralX(-100%);
            left: 75px;
            width: 75px;
            padding: 0px;
            // top: 70px;

            .layout-menu {
                margin-top: 0px;
                border-left: none;
                position: absolute;
                right: 0;

                .arrow-menu {
                    margin-bottom: 5px !important;
                }

                /* padding: 10px 5px; */
                .menu-option>div>div {
                    display: grid;
                    margin-top: 5px;

                    &>div:last-child {
                        margin: 15px 0px;
                    }

                    &>* {
                        margin: auto;
                        margin-top: 10px;
                        font-size: 0.75rem;
                        font-weight: 600;
                        text-align: center;
                    }
                }

                .layout-root-menuitem {
                    margin-bottom: 0px;

                    >.layout-menuitem-root-text {
                        // padding: 0px 5px;
                        margin: 0px;
                        display: grid;
                        gap: 0;
                        justify-content: center;
                        align-items: center;
                        // background-color: $neutral-300;
                        // color: $neutral-800;
                        height: auto;
                        padding-top: 10px !important;
                        padding-bottom: 5px !important;
                        @apply: rounded-none;

                        &>span:first-child {
                            margin: auto;
                        }

                        &>span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding: 0px 2px;
                            font-size: 14px;
                        }

                        &>span:last-child {
                            margin: auto;
                            margin-top: 0px;
                        }

                        &>span.i-icon-plus {
                            display: none;
                        }

                        &:hover {
                            border-radius: 0px;
                        }
                    }

                    >a {
                        display: none;
                    }

                    &>.layout-submenu {
                        padding: 0px;



                        &>li {
                            a {
                                display: grid;
                                border: none;

                                &>div {
                                    margin: auto;
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 14px;
                                    font-weight: $fontWeight;
                                    padding: 10px 2px;

                                    &::before {
                                        display: none;
                                    }

                                    span:first-child {
                                        display: flex;
                                        justify-content: center;
                                        margin: auto;
                                        text-align: center;
                                        margin-bottom: 5px;
                                    }

                                    .layout-menuitem-text {
                                        padding: 0px 2px !important;
                                        ;
                                    }

                                    &>.i-icon>svg {
                                        width: 20px;
                                        height: 20px;
                                        margin: auto;
                                        color: $colorMenu;
                                    }

                                    span:nth-child(2) {

                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }

                                &::before {
                                    width: 80%;
                                    margin: auto;
                                }

                            }


                        }

                        // li>a {
                        //     padding-left: 0px;
                        // }

                        &>li:first-child>a,
                        &>last-child>a {
                            &::before {
                                border: none;
                                margin-bottom: 0px;
                            }
                        }


                    }
                }

                &>li:first-child>div {
                    display: grid;
                    // width: fit-content;
                    @apply: mx-auto;

                    &>.i-icon {
                        position: relative;
                        top: 0;
                        right: 0;
                        margin-top: 10px;
                        margin: auto;
                    }


                    /* & > div.expand-menu {
                        margin: 25px 0px;
                        display: grid;
                        & > * {
                            margin: auto;
                            margin-top: 10px;
                            text-align: center;
                        }
                    } */
                }

                &>div {
                    display: none;
                }
            }

            .sidebar-btn {
                @apply -ml-27px;
            }

        }

        .siderbar-toggle-wrap {
            margin: 15px 0px;
        }
    }


}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

buttongroup svg {
    font-size: var(--step-8)
}

.layout-static-inactive {
    .layout-sidebar .layout-menu .layout-root-menuitem>.layout-submenu {
        width: 100%;
    }

    // .layout-root-menuitemlayout-menuitem-root-text
}
