.layout-sidebar {
    direction: rtl;
    position: fixed;
    width: 282px;
    height: calc(100vh - 9rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 5rem;
    margin-top: 2px;
    transition: transform $transitionDuration, left $transitionDuration;
    padding: 0rem 1rem;
    padding-right: 2rem;
    padding-left: 1.5rem;
    color: $slate-600;
    background: white; //$backgroundColor;
    /* border: 1px solid $slate-400; */
    @apply shadow-lg;

    .layout-menu {
        direction: ltr;
        margin: 0;
        margin-top: 2rem;
        padding: 0;
        list-style-type: none;

        .layout-root-menuitem {
            position: relative;

            >span {
                font-style: oblique 12deg;
            }

            >.layout-menuitem-root-text {
                position: relative;
                /* margin: 0.75rem 0; */
                margin-top: 0px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 0.2rem;

                &>span {
                    font-weight: 400;
                    font-size: 1rem;
                    letter-spacing: 1px;
                }

                &>span.i-icon-minus {
                    display: none;
                }

                &>span.i-icon-plus {
                    display: block;
                }

                &>i {
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                    border-right: 10px solid $slate-100;
                    margin-right: -5px;
                }

                >.layout-submenu-toggler {
                    font-size: 75%;
                    margin-left: auto;
                    transition: transform $transitionDuration;
                }

                &:hover {
                    background-color: $slate-200;
                    border-radius: 6px;
                }
            }

            >a {
                display: none;
            }

            >.layout-submenu {
                padding-left: 1rem;
                margin: 0;
                list-style-type: none;
                letter-spacing: 1px;

                >li {
                    >a {
                        border-left: thin solid; // $slate-400;
                        @apply border-left border-slate-300 display: flex;
                        align-items: center;
                        font-weight: 450;
                        transition: all 0.2s;

                        /* padding: 0.4rem 0; */
                        &::before {
                            content: '';
                            width: 15px;
                            margin-right: 5px;
                            border-top: 1px solid;
                            @apply border-top border-slate-300;
                        }

                        &>div {
                            margin: 0.4rem 0;
                            padding: 0.4rem 1.5rem;
                            padding-left: 0;
                            display: flex;
                            /* justify-content: center; */
                            align-items: center;

                            &>span:first-child {
                                margin-right: 10px;
                            }

                            &.active-route {
                                font-weight: 700;
                                color: var(--primary-color);
                            }

                            &:focus {
                                @include focused-inset();
                            }
                        }

                        &>div {
                            width: 100%;
                        }

                        &>div:hover {
                            background-color: $slate-200;
                            border-radius: 2px;
                        }
                    }
                }

                >li.active-menuitem {
                    &>a>div {
                        background-color: $slate-200;
                        color: $slate-800;
                        width: fit-content;
                        padding: 0.4rem 1rem;
                        border-radius: 4px;

                        &:hover {
                            background-color: $slate-200;
                        }
                    }
                }
            }
        }

        .layout-root-menuitem.active-menuitem {
            &>.layout-menuitem-root-text>.i-icon-plus {
                display: none;
            }

            &>.layout-menuitem-root-text>.i-icon-minus {
                display: block;
            }
        }
    }
}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

@media (min-width: 992px) {
    .layout-static-inactive {
        .layout-sidebar {
            transform: translateX(-100%);
            left: 60px !important;
            width: 60px;
            padding: 0px;

            .layout-menu {
                margin-top: 0px;
                border: thin solid $slate-400;
                position: absolute;
                right: 0;
                width: 60px;
                background-color: $slate-100;

                /* padding: 10px 5px; */
                .menu-option>div>div {
                    display: grid;

                    &>* {
                        margin: auto;
                        margin-top: 10px;
                        font-size: 0.75rem;
                        font-weight: 600;
                        text-align: center;
                    }
                }

                .layout-root-menuitem {
                    border-bottom: solid 1px;
                    border-color: $yellow-50;

                    >.layout-menuitem-root-text {
                        padding: 0px;
                        margin: 0px;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        background-color: $slate-700;
                        height: auto;
                        padding: 1rem 0px;
                        color: $yellow-50;
                        font-weight: 600;
                        &>span:first-child {
                            display: none;
                        }

                        &>span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding: 0px 5px;
                        }

                        &>span:last-child {
                            margin: auto;
                            margin-top: 5px;
                        }

                        &>span.i-icon-plus {
                            display: none;
                        }

                        &:hover {
                            border-radius: 0px;
                        }
                    }

                    >a {
                        display: none;
                    }

                    &>.layout-submenu {
                        padding: 0px;

                        &>li {
                            a {
                                display: grid;

                                &>div {
                                    margin: auto;
                                    border: none;
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 1rem 0px;

                                    color: $slate-500;
                                    font-size: 0.75rem;
                                    font-weight: 600;

                                    &::before {
                                        display: none;
                                    }

                                    span:first-child {
                                        display: flex;
                                        justify-content: center;
                                        margin: auto;
                                        text-align: center;
                                        margin-bottom: 10px;
                                    }

                                    &>.i-icon>svg {
                                        width: 27px;
                                        height: 27px;
                                        margin: auto;
                                        color: $slate-600;
                                    }
                                }

                                &::before {
                                    width: 75%;
                                    margin: auto;
                                }
                            }
                        }

                        &>li:first-child>a,
                        &>last-child>a {
                            &::before {
                                border: none;
                                margin-bottom: 0px;
                            }
                        }
                    }
                }

                &>li:first-child>div {
                    display: grid;
                    width: fit-content;
                    margin: auto;

                    &>.i-icon {
                        position: relative;
                        top: 0;
                        right: 0;
                        margin-top: 10px;
                        margin: auto;
                    }


                    /* & > div.expand-menu {
                        margin: 25px 0px;
                        display: grid;
                        & > * {
                            margin: auto;
                            margin-top: 10px;
                            text-align: center;
                        }
                    } */
                }

                &>div {
                    display: none;
                }
            }
        }

        .siderbar-toggle-wrap {
            margin: 15px 0px;
        }
    }
}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
