/* @link https://utopia.fyi/type/calculator?c=320,10,1.067,1240,14,1.067,10,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--5: clamp(0.4519rem, 0.389rem + 0.3144vi, 0.6327rem);
  --step--4: clamp(0.4822rem, 0.4151rem + 0.3354vi, 0.6751rem);
  --step--3: clamp(0.5145rem, 0.4429rem + 0.3579vi, 0.7203rem);
  --step--2: clamp(0.549rem, 0.4726rem + 0.3819vi, 0.7686rem);
  --step--1: clamp(0.5858rem, 0.5043rem + 0.4075vi, 0.8201rem);
  --step-0: clamp(0.625rem, 0.538rem + 0.4348vi, 0.875rem);
  --step-1: clamp(0.6669rem, 0.5741rem + 0.4639vi, 0.9336rem);
  --step-2: clamp(0.7116rem, 0.6126rem + 0.495vi, 0.9962rem);
  --step-3: clamp(0.7592rem, 0.6536rem + 0.5282vi, 1.0629rem);
  --step-4: clamp(0.8101rem, 0.6974rem + 0.5635vi, 1.1341rem);
  --step-5: clamp(0.8644rem, 0.7441rem + 0.6013vi, 1.2101rem);
  --step-6: clamp(0.9223rem, 0.794rem + 0.6416vi, 1.2912rem);
  --step-7: clamp(0.9841rem, 0.8472rem + 0.6846vi, 1.3777rem);
  --step-8: clamp(1.05rem, 0.9039rem + 0.7304vi, 1.47rem);
  --step-9: clamp(1.1204rem, 0.9645rem + 0.7794vi, 1.5685rem);
  --step-10: clamp(1.1954rem, 1.0291rem + 0.8316vi, 1.6736rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,10,1.067,1240,14,1.067,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.1875rem, 0.1658rem + 0.1087vi, 0.25rem);
  --space-2xs: clamp(0.3125rem, 0.269rem + 0.2174vi, 0.4375rem);
  --space-xs: clamp(0.5rem, 0.4348rem + 0.3261vi, 0.6875rem);
  --space-s: clamp(0.625rem, 0.538rem + 0.4348vi, 0.875rem);
  --space-m: clamp(0.9375rem, 0.8071rem + 0.6522vi, 1.3125rem);
  --space-l: clamp(1.25rem, 1.0761rem + 0.8696vi, 1.75rem);
  --space-xl: clamp(1.875rem, 1.6141rem + 1.3043vi, 2.625rem);
  --space-2xl: clamp(2.5rem, 2.1522rem + 1.7391vi, 3.5rem);
  --space-3xl: clamp(3.75rem, 3.2283rem + 2.6087vi, 5.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.1875rem, 0.1005rem + 0.4348vi, 0.4375rem);
  --space-2xs-xs: clamp(0.3125rem, 0.1821rem + 0.6522vi, 0.6875rem);
  --space-xs-s: clamp(0.5rem, 0.3696rem + 0.6522vi, 0.875rem);
  --space-s-m: clamp(0.625rem, 0.3859rem + 1.1957vi, 1.3125rem);
  --space-m-l: clamp(0.9375rem, 0.6549rem + 1.413vi, 1.75rem);
  --space-l-xl: clamp(1.25rem, 0.7717rem + 2.3913vi, 2.625rem);
  --space-xl-2xl: clamp(1.875rem, 1.3098rem + 2.8261vi, 3.5rem);
  --space-2xl-3xl: clamp(2.5rem, 1.5435rem + 4.7826vi, 5.25rem);

  /* Custom pairs */
  --space-s-l: clamp(0.625rem, 0.2337rem + 1.9565vi, 1.75rem);
}

/* @link https://utopia.fyi/grid/calculator?c=320,10,1.067,868,14,1.067,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=xs,l,xl,12 */

:root {
  --grid-max-width: 54.25rem;
  --grid-gutter: var(--space-xs-l, clamp(0.5rem, -0.2299rem + 3.6496vw, 1.75rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

/* Utopia Padding----------------------------------*/

.u-p-5xs {
  padding: var(--space-5xs);
}

.u-p-4xs {
  padding: var(--space-4xs);
}

.u-p-3xs {
  padding: var(--space-3xs);
}

.u-p-2xs {
  padding: var(--space-2xs);
}

.u-p-xs {
  padding: var(--space-xs);
}

.u-p-s {
  padding: var(--space-s);
}

.u-p-m {
  padding: var(--space-m);
}

.u-p-l {
  padding: var(--space-l);
}

.u-p-xl {
  padding: var(--space-xl);
}

.u-p-2xl {
  padding: var(--space-2xl);
}



.u-pt-3xs {
  padding-top: var(--space-3xs);
}

.u-pt-2xs {
  padding-top: var(--space-2xs);
}

.u-pt-xs {
  padding-top: var(--space-xs);
}

.u-pt-s {
  padding-top: var(--space-s);
}

.u-pt-m {
  padding-top: var(--space-m);
}

.u-pt-l {
  padding-top: var(--space-l);
}

.u-pt-xl {
  padding-top: var(--space-xl);
}

.u-pt-2xl {
  padding-top: var(--space-2xl);
}

.u-pt-3xl {
  padding-top: var(--space-3xl);
}

.u-pr-3xs {
  padding-right: var(--space-3xs);
}

.u-pr-2xs {
  padding-right: var(--space-2xs);
}

.u-pr-xs {
  padding-right: var(--space-xs);
}

.u-pr-s {
  padding-right: var(--space-s);
}

.u-pr-m {
  padding-right: var(--space-m);
}

.u-pr-l {
  padding-right: var(--space-l);
}

.u-pr-xl {
  padding-right: var(--space-xl);
}

.u-pr-2xl {
  padding-right: var(--space-2xl);
}

.u-pr-3xl {
  padding-right: var(--space-3xl);
}

.u-pb-3xs {
  padding-bottom: var(--space-3xs);
}

.u-pb-2xs {
  padding-bottom: var(--space-2xs);
}

.u-pb-xs {
  padding-bottom: var(--space-xs);
}

.u-pb-s {
  padding-bottom: var(--space-s);
}

.u-pb-m {
  padding-bottom: var(--space-m);
}

.u-pb-l {
  padding-bottom: var(--space-l);
}

.u-pb-xl {
  padding-bottom: var(--space-xl);
}

.u-pb-2xl {
  padding-bottom: var(--space-2xl);
}

.u-pb-3xl {
  padding-bottom: var(--space-3xl);
}

.u-pl-3xs {
  padding-left: var(--space-3xs);
}

.u-pl-2xs {
  padding-left: var(--space-2xs);
}

.u-pl-xs {
  padding-left: var(--space-xs);
}

.u-pl-s {
  padding-left: var(--space-s);
}

.u-pl-m {
  padding-left: var(--space-m);
}

.u-pl-l {
  padding-left: var(--space-l);
}

.u-pl-xl {
  padding-left: var(--space-xl);
}

.u-pl-2xl {
  padding-left: var(--space-2xl);
}

.u-pl-3xl {
  padding-left: var(--space-3xl);
}

.u-py-3xs {
  padding-top: var(--space-3xs);
  padding-bottom: var(--space-3xs);
}

.u-py-2xs {
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
}

.u-py-xs {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}

.u-py-s {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.u-py-m {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}

.u-py-l {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.u-py-xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.u-py-2xl {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-2xl);
}

.u-py-3xl {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
}

.u-px-3xs {
  padding-left: var(--space-3xs);
  padding-right: var(--space-3xs);
}

.u-px-2xs {
  padding-left: var(--space-2xs);
  padding-right: var(--space-2xs);
}

.u-px-xs {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

.u-px-s {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.u-px-m {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.u-px-l {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}

.u-px-xl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}

.u-px-2xl {
  padding-left: var(--space-2xl);
  padding-right: var(--space-2xl);
}

.u-px-3xl {
  padding-left: var(--space-3xl);
  padding-right: var(--space-3xl);
}



/* Utopia Margin----------------------------------*/

.u-m-5xs {
  margin: var(--space-3xs);
}

.u-m-4xs {
  margin: var(--space-3xs);
}

.u-m-3xs {
  margin: var(--space-3xs);
}

.u-m-2xs {
  margin: var(--space-2xs);
}

.u-m-xs {
  margin: var(--space-xs);
}

.u-m-s {
  margin: var(--space-s);
}

.u-m-m {
  margin: var(--space-m);
}

.u-m-l {
  margin: var(--space-l);
}

.u-m-xl {
  margin: var(--space-xl);
}

.u-m-2xl {
  margin: var(--space-2xl);
}

.u-m-3xl {
  margin: var(--space-3xl);
}


.u-mt-3xs {
  margin-top: var(--space-3xs);
}

.u-mt-2xs {
  margin-top: var(--space-2xs);
}

.u-mt-xs {
  margin-top: var(--space-xs);
}

.u-mt-s {
  margin-top: var(--space-s);
}

.u-mt-m {
  margin-top: var(--space-m);
}

.u-mt-l {
  margin-top: var(--space-l);
}

.u-mt-xl {
  margin-top: var(--space-xl);
}

.u-mt-2xl {
  margin-top: var(--space-2xl);
}

.u-mt-3xl {
  margin-top: var(--space-3xl);
}

.u-mr-3xs {
  margin-right: var(--space-3xs);
}

.u-mr-2xs {
  margin-right: var(--space-2xs);
}

.u-mr-xs {
  margin-right: var(--space-xs);
}

.u-mr-s {
  margin-right: var(--space-s);
}

.u-mr-m {
  margin-right: var(--space-m);
}

.u-mr-l {
  margin-right: var(--space-l);
}

.u-mr-xl {
  margin-right: var(--space-xl);
}

.u-mr-2xl {
  margin-right: var(--space-2xl);
}

.u-mr-3xl {
  margin-right: var(--space-3xl);
}

.u-mb-3xs {
  margin-bottom: var(--space-3xs);
}

.u-mb-2xs {
  margin-bottom: var(--space-2xs);
}

.u-mb-xs {
  margin-bottom: var(--space-xs);
}

.u-mb-s {
  margin-bottom: var(--space-s);
}

.u-mb-m {
  margin-bottom: var(--space-m);
}

.u-mb-l {
  margin-bottom: var(--space-l);
}

.u-mb-xl {
  margin-bottom: var(--space-xl);
}

.u-mb-2xl {
  margin-bottom: var(--space-2xl);
}

.u-mb-3xl {
  margin-bottom: var(--space-3xl);
}

.u-ml-3xs {
  margin-left: var(--space-3xs);
}

.u-ml-2xs {
  margin-left: var(--space-2xs);
}

.u-ml-xs {
  margin-left: var(--space-xs);
}

.u-ml-s {
  margin-left: var(--space-s);
}

.u-ml-m {
  margin-left: var(--space-m);
}

.u-ml-l {
  margin-left: var(--space-l);
}

.u-ml-xl {
  margin-left: var(--space-xl);
}

.u-ml-2xl {
  margin-left: var(--space-2xl);
}

.u-ml-3xl {
  margin-left: var(--space-3xl);
}

.u-my-3xs {
  margin-top: var(--space-3xs);
  margin-bottom: var(--space-3xs);
}

.u-my-2xs {
  margin-top: var(--space-2xs);
  margin-bottom: var(--space-2xs);
}

.u-my-xs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.u-my-s {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

.u-my-m {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.u-my-l {
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}

.u-my-xl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.u-my-2xl {
  margin-top: var(--space-2xl);
  margin-bottom: var(--space-2xl);
}

.u-my-3xl {
  margin-top: var(--space-3xl);
  margin-bottom: var(--space-3xl);
}

.u-mx-3xs {
  margin-left: var(--space-3xs);
  margin-right: var(--space-3xs);
}

.u-mx-2xs {
  margin-left: var(--space-2xs);
  margin-right: var(--space-2xs);
}

.u-mx-xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.u-mx-s {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.u-mx-m {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}

.u-mx-l {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.u-mx-xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.u-mx-2xl {
  margin-left: var(--space-2xl);
  margin-right: var(--space-2xl);
}

.u-mx-3xl {
  margin-left: var(--space-3xl);
  margin-right: var(--space-3xl);
}

.u-grid>div,
.flex-wrap>div {
  color: white;
  @apply bg-slate-700;
}
