/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

@import 'primeicons/primeicons.css';
@import '@/assets/theme/material/material-light/compact/indigo/theme.scss';
@import '@/assets/theme/layout/styles/layout/layout.scss';
