* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: var(--step-0);
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    // background-color: $backgroundColor;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 10vh;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    // height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $slate-400;
    border-radius: 70px;
    height: 10px;
}


.rounded {
    border-radius: 4px;
}

.rounded-full {
    border-radius: 9999px;
}



.bg-fdn {
    // background-color: $slate-00
}

#logo {

    @apply fill-white font-bold;
    letter-spacing: 2px;
    font-family: 'Fast-Track';
    font-weight: 700;
    mix-blend-mode: darken;
}


.text2 {
    letter-spacing: 5px;
    text-shadow: 0px 0px 30px #09090b;
    mix-blend-mode: darken;
    animation-delay: 4s;
    animation: fadeIn 1.5s linear forwards;
}

.text3 {
    z-index: 1;
    letter-spacing: 2px;
    text-shadow: 0px 0px 35px #09090b;
    animation-delay: 5s;
    animation: fadeIn 1.5s linear forwards;
}

.text1 {
    text-shadow: 1px 0px 8px #09090b;
    animation-delay: 2s;
    animation: fadeIn .5s linear forwards;
    @apply fill-zinc-100
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

.p-divider:be {
    border-left: 1px solid #000;
}

.layout-topbar-button:not(.logout-btn) svg path {
    @apply stroke-zinc-500 fill-none;
}

.logout-btn svg path {
    @apply stroke-zinc-400;
}

.formkit-messages>.text-red-600 {
    @apply u-text-0;
}
