@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}


@layer base {
  h1 {
    /* @apply font-medium; */
  }

  h2 {
    /* @apply text-xl; */
  }

  /* ... */
}
