.p-datatable {
  & .p-datatable-column-header-content {
    /* display: grid; */



    &>.p-checkbox {
      margin: auto;
      /* margin-bottom: 15px; */
    }
  }

  & .p-datatable-column-title {
    text-transform: capitalize;
  }

  & .p-datatable-header-cell {
    padding: 0px 6px;
    /* border: none; */
  }

  & .p-datatable-thead>tr {

    &:last-child>th {
      /* background-color: var(--p-surface-contrast-100); */
      @apply bg-slate-100/80;
      /* padding-top: 12px; */
      /* padding-bottom: 12px; */
      padding: 0px 15px;

      &:last-child {
        /* width: 80px !important; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 62px;
      }
    }

    &:first-child>th {
      background-color: transparent
    }

    &:first-child>th {
      &:last-child {
        /* width: 80px !important; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 62px;
      }
    }

  }

  & th.action-cell:nth-of-type(1),
  & td.action-cell {
    /* background-color: transparent; */
    width: 80px;
    @apply bg-slate-100/80;

    /* border-top: 0.5px solid var(--p-surface-contrast-300); */
    border-left: 1px solid var(--p-surface-contrast-300);
    /* border-right: 1px solid var(--p-surface-contrast-200); */
    /* display: block; */

    &:is(th) {
      background-color: transparent;
      border: none;
    }
  }

  & .row-mark {
    background-color: var(--p-surface-contrast-100);
    /* color: var(--p-surface-contrast-200) */
  }

  & .collection-action-wrapper {
    &>span {
      border-radius: 100%;
      padding: 10px;

      & .action {
        cursor: pointer;
        border-radius: 100%;
        background-color: #F4F7FA;
        padding: 3px;
        width: 25px;
        height: 25px;

        &>*,
        &>g>path {
          stroke-width: 3px;
        }

        &.edit,
        &.delete {
          color: var(--p-surface-contrast-600);
          font-size: 20px !important;
        }
      }

      transition: scale .2s;

      &:hover {
        transition: scale .2s;
        scale: 1.2;
      }
    }

  }

  & .collection-cell-wrap {
    max-height: 100px;
  }

  & .columns-wraper {
    min-width: 200px;

    &.small-column {
      width: 150px;
      min-width: 85px;

      & .small-column-id {
        width: 130px;
        min-width: 85px;
      }

    }
  }
}
