.p-fieldset {

  & .p-fieldset-legend>.p-fieldset-toggle-button>.p-fieldset-legend-label {
    text-transform: capitalize;
    color: var(--p-surface-contrast-800);
    font-size: 1.3rem;
    font-weight: 200;

    & svg {
      color: var(--p-surface-contrast-400);
    }
  }
}
