.p-fieldset {
  /* background-color: var(--p-surface-contrast-100); */

  & .p-fieldset-legend>.p-fieldset-toggle-button {
    border: 1px solid var(--p-surface-contrast-200);

    &>.p-fieldset-legend-label {
      text-transform: capitalize;
      color: var(--p-surface-contrast-500);
      font-size: 1.5rem;
      font-weight: 500;

      & svg {
        color: var(--p-surface-contrast-400);
      }
    }
  }

  & .p-fieldset-content>.formkit-outer {
    max-width: fit-content;
  }

  &#menu_privilegios .p-fieldset-content {
    overflow-y: scroll;
    padding: 15px !important;
    margin-bottom: 10px;
    max-height: 700px;
    min-width: 46em;
  }

}
