.p-fieldset {
  min-width: 24em;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  height: fit-content;


  & .p-fieldset-legend {
    text-transform: capitalize;
    color: var(--p-surface-contrast-600);
    font-size: 1rem;
    font-weight: 500;
  }
}
