.p-fieldset {
  width: fit-content;
  @apply p-4 md:px-8;
  /* padding: 1em 3em; */
  /* min-width: calc(20em + (3rem * 2)); */

  & .p-fieldset-legend {
    text-transform: capitalize;
    color: var(--p-surface-contrast-600);
    font-size: 1rem;
    font-weight: 500;
  }
}
