.p-picklist {
  &>.p-picklist-source-list-container>.p-listbox {
    @apply bg-red-50/60;
  }

  &>.p-picklist-target-list-container>.p-listbox {
    background-color: var(--p-emerald-50);
    @apply bg-emerald-50/60;
  }
}
