body>div>main {
  &>.layout-wrapper.mobil {


    &>.layout-content#layout-content {
      margin-top: 0px;

      &>.content {
        padding-bottom: calc(var(--topbar) + 60px);
      }
    }

    &>.layout-mask.animate-fadein.active {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--p-surface-contrast-800);
      top: 0;
      z-index: 2;
      opacity: .3;
    }

    .wrap-sidebar {
      z-index: 11;
      height: fit-content !important;

      &>.layout-sidebar {
        top: auto !important;
        bottom: 70px;
        padding-top: 3rem;
        border: 1px solid var(--p-surface-border);
        border-top: none;
        height: fit-content !important;
        border-bottom-right-radius: 4px;

        &.close {
          display: none !important;
        }
      }
    }

    .layout-topbar {
      bottom: 0px !important;
      top: auto;
      position: fixed;
    }

    .sidebar-control {
      display: none !important;
    }

    .layout-content {
      margin-top: 0px;
      /* padding-top: 1rem; */

      &.normal:not(.minimode) {
        margin-left: 0px;
      }
    }

  }
}
