.wrap-sidebar {
	/* padding-top: 15px; */
	will-change: transform;
	contain: paint;
	top: var(--topbar);
	transition-property: max-width, max-height, transform;
	transition-duration: 0.2s;
	height: calc(var(--sidebar-height) - 1rem);
	width: var(--sidebar-width);
	max-width: var(--sidebar-width);
	max-height: 100%;
	overflow: hidden;
	z-index: 998;
	background-color: var(--topbar-background);
	position: fixed;
	/* box-shadow: var(--shadow); */
	/* border: var(--border); */
	/* border-top: none; */
	border-radius: 4px;
	border-bottom-right-radius: 4px;

	&.small {
		max-width: var(--sidebar-small-width);
	}

	&.right {
		right: 0px;
		width: var(--sidebar-width);
		max-width: var(--sidebar-width);

		&.small {
			max-width: var(--sidebar-small-width);
		}
	}

	& > .sidebar-control {
		display: flex;
		& > div {
			z-index: 0;
			width: 100%;
			display: flex;
			justify-content: end;
			padding: 0.5rem 1rem;
			gap: 6px;
			&.right {
				flex-direction: row-reverse;
				justify-content: start;
			}

			& > div {
				margin: 0px 0px;
				display: flex;
				cursor: pointer;
				height: 15px;
				position: relative;
				width: 35px;
				transition: background-color 02s;
				margin-top: 5px;
				background-color: var(--p-surface-contrast-300);

				&:nth-child(1) {
					width: 20px;
				}
				&:hover:not(.selected),
				&.selected {
					background-color: var(--p-surface-contrast-500);
				}
			}

			&.small {
				display: grid;
				justify-content: center;
				margin: auto;
				gap: 0px;
				& > div {
					margin: auto;
					margin-top: 10px;
					&:nth-child(1) {
						margin-top: 25px;
					}
				}
			}
		}

		& > svg {
			position: absolute;
			left: 1rem;
			font-size: 30px;
			top: 0px;
			& > path {
				transition: fill 0.2s;
				fill: var(--p-surface-contrast-400);
				stroke-width: 0px;
				opacity: 0.6;
			}
			&:hover {
				& > path {
					fill: var(--p-surface-contrast-400);
					opacity: 1;
				}
			}
		}
		&.small > svg {
			margin-right: 5px;
		}
		&.right {
			& > svg {
				transform: rotate(180deg);
				left: auto;
				right: 1rem;
			}
			&.small > svg {
				margin: auto;
			}
		}
	}

	& > .layout-sidebar {
		max-height: calc(100vh - (var(--topbar) * 2));
		overflow-y: scroll;
		z-index: 900;
		user-select: none;
		font-weight: 450;
		padding-bottom: 1rem;
		margin-top: 0rem;
		padding-top: 1rem;

		& > nav {
			padding: 0px 0.5rem;
		}
	}

	&.onhover {
		background-color: --alpha(var(--p-surface-contrast-0) / 60%);
		backdrop-filter: blur(6px);
		border: 1px solid var(--p-surface-contrast-200);
		color: var(--p-surface-contrast-900);

		&.left {
			animation: close-sidebar-reverse 0.5s ease-in-out forwards;
		}

		&.right {
			animation: close-sidebar-reverse-r 0.5s ease-in-out forwards;
		}
	}

	&.close {
		&.left {
			animation: close-sidebar 0.2s ease-in-out forwards;
		}

		&.right {
			animation: close-sidebar-r 0.2s ease-in-out forwards;
		}
	}
}

.layout-content {
	will-change: margin-left, margin-right, max-width;
	container: sidebar / inline-size;
	display: flex;
	flex-wrap: wrap;
	transition-property: margin-left, margin-right, max-width;
	transition-duration: 0.2s;
	max-width: 100%;
	padding: 1rem 5px;
	padding-top: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	margin-top: var(--topbar);
	z-index: 1;

	& > .content {
		background-color: var(--background);

		/* background-color: var(--p-surface-contrast-0); */
		width: 100%;
		max-width: 100%;
		position: relative;
		z-index: 999;
		height: fit-content;
		border-radius: 4px;
		/* box-shadow: var(--shadow); */
		/* border: var(--border); */
		/* border-top: none; */
		transition: padding 0.2s;
	}

	&.left-normal {
		margin-left: var(--sidebar-width);

		&.right-normal {
			max-width: calc(100% - (var(--sidebar-width) + var(--sidebar-width)));
		}

		&.right-small {
			max-width: calc(
				100% - (var(--sidebar-width) + var(--sidebar-small-width))
			);
		}

		&.right-onhover {
			max-width: calc(100% - var(--sidebar-width));
		}
	}

	&.left-small {
		margin-left: var(--sidebar-small-width);

		&.right-normal {
			max-width: calc(
				100% - (var(--sidebar-small-width) + var(--sidebar-width))
			);
		}

		&.right-small {
			max-width: calc(
				100% - (var(--sidebar-small-width) + var(--sidebar-small-width))
			);
		}

		&.right-onhover {
			max-width: calc(100% - var(--sidebar-small-width));
		}
	}

	&.left-onhover {
		&.right-normal {
			max-width: calc(100% - var(--sidebar-width));
		}

		&.right-small {
			max-width: calc(100% - var(--sidebar-small-width));
		}
	}

	&.left-close {
		&.right-normal {
			max-width: calc(100% - var(--sidebar-width));
		}

		&.right-small {
			max-width: calc(100% - var(--sidebar-small-width));
		}
	}
}

.toggle-sidebar {
	position: fixed;
	cursor: pointer;
	z-index: 999;
	top: 17.5px;

	&.open-dialbtn {
		width: 190px;
		height: 190px;
		background-color: --alpha(var(--color-white) / 10%);
		border-top-left-radius: 150px;
		backdrop-filter: blur(2px);

		&.right > .p-speeddial {
			position: fixed;
			right: 0px;
		}
	}

	& > .p-speeddial > ul > li > .menu-btn.item,
	& > .p-speeddial > .menu-btn {
		z-index: 999;
		display: flex;
		justify-content: center;
		align-items: center;

		& > svg {
			transition: color 0.2s;
			color: var(--p-surface-contrast-300);
			font-size: 35px;
			& > * {
				transition: fill 0.2s;
				stroke-width: 3px;
				fill: var(--p-surface-contrast-300);
			}
			&:hover {
				color: var(--p-surface-contrast-400);

				& > * {
					fill: var(--p-surface-contrast-400);
				}
			}
		}

		&.menu-btn.item {
			transition: transform 0.1s;
			padding: 5px;
			background-color: var(--p-surface-contrast-100);
			&:hover {
				transform: scale(1.2);
			}

			& > svg {
				font-size: 24px !important;
			}
		}
	}

	&.left {
		left: 1rem;
	}

	&.right {
		right: 1rem;
	}

	&.onhover,
	&.close {
		display: flex;
		font-size: 35px !important;
		color: var(--p-surface-contrast-500);

		& > * {
			stroke-width: 4;
		}

		transition: opacity 0.5s;
		opacity: 1;
	}
}

.toggle-sidebar-lateral {
	display: none;
	z-index: 997;
	position: fixed;
	background-color: transparent;
	width: 0.5rem;
	height: 100vh;
	top: 0px;

	&.close {
		display: block;

		&.left {
			left: 0px;
		}

		&.right {
			right: 0px;
		}
	}
}

@container sidebar (width < 1300px) {
	.content {
		padding: var(--space-xl) !important;
	}
}

@keyframes close-sidebar {
	0% {
		transform: translate(0);
	}

	100% {
		transform: translate(calc(var(--sidebar-width) * -1));
	}
}

@keyframes close-sidebar-reverse {
	from {
		transform: translate(calc(var(--sidebar-width) * -1));
	}

	to {
		transform: translate(0);
	}
}

@keyframes close-sidebar-r {
	0% {
		transform: translate(0);
	}

	100% {
		transform: translate(calc(var(--sidebar-width)));
	}
}

@keyframes close-sidebar-reverse-r {
	from {
		transform: translate(calc(var(--sidebar-width)));
	}

	to {
		transform: translate(0);
	}
}
