  .wrap-sidebar {
    will-change: transform;
    contain: paint;
    top: calc(var(--topbar) + .5rem);
    transition-property: max-width, max-height, transform;
    transition-duration: .2s;
    height: calc(var(--sidebar-height) - 1rem);
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    max-height: 100%;
    overflow: hidden;
    z-index: 998;
    background-color: var(--sidebar-background);
    position: fixed;
    box-shadow: var(--shadow);
    /* border: var(--border); */
    border-radius: 4px;
    border-bottom-right-radius: 4px;

    &.small {
      max-width: var(--sidebar-small-width);
    }

    &.right {
      right: 0px;
      width: var(--sidebar-width);
      max-width: var(--sidebar-width);

      &.small {
        max-width: var(--sidebar-small-width);
      }

    }

    &>.sidebar-control {
      display: flex;
      justify-content: end;
      padding: 5px;

      &.right {
        justify-content: start;
      }

      &>div {
        z-index: 999;
        width: fit-content;
        display: flex;
        gap: 8px;
        padding-top: 5px;


        &.right {
          flex-direction: row-reverse;
          max-width: var(--sidebar-width);
          margin-left: 10px;

          &>div {
            display: flex;
            justify-content: end;
          }
        }

        &.left {
          margin-right: 10px;
        }

        &>div {
          margin: 0px 0px;
          display: flex;
          cursor: pointer;
          align-items: center;
          height: 18px;
          position: relative;
          width: 25px;
          background-color: var(--p-surface-contrast-200);
          opacity: .3;
          transition: opacity .3s;

          &>span {
            width: 100%;
            height: 100%;
            background-color: var(--p-surface-contrast-500);
          }

          border: .1px solid var(--p-surface-contrast-400);

          &:nth-child(2)>span {
            width: 30%;

          }

          &:nth-child(3)>span {
            width: 60%;
          }

          &:hover:not(.selected) {
            opacity: 1 !important;
            background-color: var(--p-surface-contrast-0);

            &>span {
              background-color: var(--p-surface-contrast-700);
            }
          }

          &.selected {
            opacity: 1;
            background-color: var(--p-surface-contrast-0);

            &>span {
              background-color: var(--p-surface-contrast-700);
            }
          }
        }

        &.small {
          display: grid;
          justify-content: center;
          margin: auto;

          &>div {
            width: 30px;
            height: 20px;

            &:nth-child(1) {
              order: 3;
            }

            &:nth-child(2) {
              order: 2
            }

            &:nth-child(3) {
              order: 1
            }
          }
        }
      }

    }

    &>.layout-sidebar {
      max-height: calc(100vh - (var(--topbar) * 2));
      overflow-y: scroll;
      z-index: 900;
      user-select: none;
      font-weight: 450;
      padding: 1rem 0px;


      &>nav {
        padding: 0px calc(1rem - 9px + 0.2rem);
      }

    }


    &.onhover {
      background-color: --alpha(var(--p-surface-contrast-0)/ 75%);
      backdrop-filter: blur(3px);
      border: 1px solid var(--p-surface-contrast-400);
      color: var(--p-surface-contrast-900);

      &.left {
        animation: close-sidebar-reverse .2s ease-in-out forwards;
      }

      &.right {
        animation: close-sidebar-reverse-r .2s ease-in-out forwards;
      }
    }

    &.close {
      &.left {
        animation: close-sidebar .2s ease-in-out forwards;
      }

      &.right {
        animation: close-sidebar-r .2s ease-in-out forwards;
      }
    }
  }

  .layout-content {
    will-change: margin-left,
      margin-right,
      max-width;
    container: sidebar / inline-size;
    display: flex;
    flex-wrap: wrap;
    transition-property: margin-left, margin-right, max-width;
    transition-duration: .2s;
    max-width: 100%;
    padding: 1rem;
    padding-top: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: calc(var(--topbar) + .5rem);
    z-index: 1;

    &>.content {
      background-color: var(--p-surface-contrast-0);
      width: 100%;
      max-width: 100%;
      position: relative;
      z-index: 100;
      height: fit-content;
      border-radius: 4px;
      box-shadow: var(--shadow);
      /* border: var(--border); */
      transition: padding .2s;
    }


    &.left-normal {
      margin-left: var(--sidebar-width);

      &.right-normal {
        max-width: calc(100% - (var(--sidebar-width) + var(--sidebar-width)));
      }

      &.right-small {
        max-width: calc(100% - (var(--sidebar-width) + var(--sidebar-small-width)));
      }

      &.right-onhover {
        max-width: calc(100% - var(--sidebar-width));
      }
    }

    &.left-small {
      margin-left: var(--sidebar-small-width);

      &.right-normal {
        max-width: calc(100% - (var(--sidebar-small-width) + var(--sidebar-width)));
      }

      &.right-small {
        max-width: calc(100% - (var(--sidebar-small-width) + var(--sidebar-small-width)));
      }

      &.right-onhover {
        max-width: calc(100% - var(--sidebar-small-width));
      }
    }

    &.left-onhover {

      &.right-normal {
        max-width: calc(100% - var(--sidebar-width));
      }

      &.right-small {
        max-width: calc(100% - var(--sidebar-small-width));
      }

    }

    &.left-close {

      &.right-normal {
        max-width: calc(100% - var(--sidebar-width));
      }

      &.right-small {
        max-width: calc(100% - var(--sidebar-small-width));
      }

    }

  }

  .toggle-sidebar {
    position: fixed;
    cursor: pointer;
    top: 0;
    z-index: 999;

    top: 10px;

    &.open-dialbtn {
      width: 190px;
      height: 190px;
      background-color: --alpha(var(--color-white)/10%);
      border-top-left-radius: 150px;
      backdrop-filter: blur(2px);

      &.right>.p-speeddial {
        position: fixed;
        right: 0px;
      }
    }


    &>.p-speeddial>ul>li>.menu-btn.item,
    &>.p-speeddial>.menu-btn {
      z-index: 999;
      display: flex;
      justify-content: center;
      align-items: center;
      /* box-shadow: var(--shadow); */
      background-color: var(--p-surface-contrast-600);
      height: 50px;
      width: 50px;
      border-radius: 999px;

      &>svg {
        color: var(--p-surface-contrast-100);
        font-size: 25px !important;
      }


      &.menu-btn.item {
        transition: transform .1s;
        padding: 5px;
        background-color: var(--p-surface-contrast-100);
        /* box-shadow: 5px 5px 10px 0px var(--p-surface-contrast-400); */

        &:hover {
          transform: scale(1.2)
        }

        &>svg {
          font-size: 24px !important;
        }
      }

      &:hover {
        background-color: var(--p-surface-contrast-700);
      }
    }

    &.left {
      left: 15px !important;
    }

    &.right {
      right: 5px;
    }


    &.onhover,
    &.close {
      display: flex;
      font-size: 35px !important;
      color: var(--p-surface-contrast-500);

      &>* {
        stroke-width: 4;
      }

      transition: opacity .5s;
      opacity: 1;

    }

  }

  .toggle-sidebar-lateral {
    display: none;
    z-index: 997;
    position: fixed;
    background-color: transparent;
    width: .5rem;
    height: 100vh;
    top: 0px;

    &.close {
      display: block;

      &.left {
        left: 0px;

      }

      &.right {
        right: 0px;
      }
    }
  }

  @container sidebar (width < 1300px) {
    .content {
      padding: var(--space-xl) !important;
    }
  }



  @keyframes close-sidebar {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(calc(var(--sidebar-width) * -1));
    }


  }

  @keyframes close-sidebar-reverse {
    from {
      transform: translate(calc(var(--sidebar-width) * -1));
    }

    to {
      transform: translate(0);
    }
  }

  @keyframes close-sidebar-r {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(calc(var(--sidebar-width)));
    }


  }

  @keyframes close-sidebar-reverse-r {
    from {
      transform: translate(calc(var(--sidebar-width)));
    }

    to {
      transform: translate(0);
    }
  }
